<h3>Задание:</h3>
<p>
    Получить ведомость выплаты зарплаты за последний месяц, в
    которой для каждого работника указать: фамилию и инициалы,
    должность, начисленную сумму, сумму удержаний, сумму к
    выдаче. Данные упорядочить по должности и фамилии
    сотрудников
</p>

<h3>Результат</h3>
<div *ngIf="($table | async) as table">
    <table>
        <thead>
        <th *ngFor="let column of table.header">{{ column.label }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of table.rows">
                <ng-container *ngFor="let cell of row.values; let i = index">
                    <td class="{{ table.header[i].type }}">{{ cell }}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>